.componentes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.lista{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.listado_articulos{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listado-carrito{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.imagen{
  width: 185px;
  height: 125px;
}
